<%= simple_form_for @sighting do |f| %>
<div class="col-md-6">
  <div class="pet-selected">
    <%=f.input :pet_type, collection: @pet_type, label: 'Species' %>
  </div>
  <div class="pet-other" style="display: none;">
    <%=f.input :pet_type, placeholder: 'Please type the specie of your pet', label: 'Species' %>
  </div>
   <%= f.hidden_field :pet_id %>
   <%=f.input :note %>
   <%=f.input :last_seen_at %>
 <div class="form-inline">
   <%=f.input :date_time, as: :date, order: [:day, :month, :year] %>
 </div><br>
 <%= f.file_field :image %><br>
 </div>
 <div class="col-md-6">
   <div>
   </div>
   <h2>Your Contact Info</h2>
    <%= f.input :name %>
    <%= f.input :contact %>
</div>
 <%= f.submit btn_label %>
<% end %>
<br>
<div style='width: 800px;'>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
