<h1>Sighting</h1>

<section>
<% if @sighting.image.present? %>
      <%= image_tag @sighting.image.url, class: 'question-thumbnail' %>
<% end %>
</section>
<%= @sighting.pet_type %>
<%= @sighting.note %>


Last Seen at:<%= @sighting.date_time %> Location: <%= @sighting.last_seen_at %>

<h2>Contact Info</h2>
<%= @sighting.name %>
<%= @sighting.contact %>
