<h1>Sighting</h1>

<%= @sighting.image %>
<%= @sighting.pet_type %>
<%= @sighting.note %>


Last Seen at:<%= @sighting.date_time %> Location: <%= @sighting.last_seen_at %>

<h2>Contact Info</h2>
<%= @sighting.name %>
<%= @sighting.contact %>
