
<div class="container">
  <h1 class="text-center">All Lost Pets</h1>



  <% @pets.each do |p|%>
    <div class="col-xs-6 col-sm-6 col-md-3">
      <div class="thumbnail">
        <% if p.image.present?%>
          <%= image_tag p.image[0].url(:large), class: 'image-index image-circle'%>
        <%else%>
         <img src="assets/image_dog_03@2x.png" alt="" />

        <%end%>
        <div class="caption">
          <h3><%=link_to p.name, pet_path(p) %></h3>
          <p><%=p.breed%></p>
          <p><%=p.color%></p>

          <%= link_to 'Did you see this pet?',  new_pet_sighting_path(p), class:'btn btn-default'%>
        </div>
      </div>
    </div>
  <%end%>

  <%= link_to 'Not one of those? Make a new spot!', new_sighting_path %>
</div>
