<h1>Home Page</h1>
<% unless user_signed_in? %>
    <%= button_to 'Sign In With Facebook', sign_in_with_facebook_path, method: :get %>
    <p>or</p>
    <%= button_to 'Sign In With Twitter', sign_in_with_twitter_path, method: :get %>
    <p>Or with Email</p>
    <%= simple_form_for User.new do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.submit %>
    <% end %>
<% end %>
<div class="">

  <div style='width: 800px;'>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

</div>
