



  <div class="parallax-window" data-parallax="scroll" data-image-src="/assets/home-banner.jpg">
    <div class="main-hero">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <a href="#" class="panel">
              <h2><strong>Spotted </strong>a Pet</h2>
              <img src="/assets/panel-image-1.png" alt="" />
            </a>

          </div>

          <div class="col-md-5">
            <a href="#" class="panel lostpet">
              <h2><strong>Lost </strong>a Pet</h2>
              <img src="/assets/panel-image-2.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="panel panel-info">
  <div class="panel-heading">
    <div class="container">
      <div class="row">
        <div class="col-md-5 text-center">
          <h5>39 missing pets in your area</h5>
        </div>
        <div class="col-md-3 text-center">
          <h5>32,002 reconnected pets</h5>
        </div>

        <div class="col-md-3 text-center social">
          <a href="#">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </div>

      </div>

    </div>

  </div>
</div>





<div class="container">

  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#SignUp">Sign Up</button>

  <!-- Modal -->
  <div class="modal fade" id="SignUp" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sign Up</h4>
        </div>
        <div class="modal-body">
        <% unless user_signed_in? %>
            <%= button_to 'Sign In With Facebook', sign_in_with_facebook_path, method: :get %>
            <p>or</p>
            <%= button_to 'Sign In With Twitter', sign_in_with_twitter_path, method: :get %>
            <p>Or with Email</p>
            <%= simple_form_for User.new do |f| %>
                <%= f.input :first_name %>
                <%= f.input :last_name %>
                <%= f.input :email %>
                <%= f.input :password %>
                <%= f.submit %>
            <% end %>
        <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="container">
  <div class="col-md-6">
    <div class="panel panel-default list_panel">
      <h3 class="text-center">Have you see me ?</h3>
      <div class="col-md-6">
        <img class='img-circle' src="/assets/tbn.jpg" alt="" />
      </div>

      <div class="col-md-6">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
          <a href="#" class="btn btn-default">More info</a>
          <a href="#" class="btn btn-default">Report</a>
        </div>

      </div>


    </div>

  </div>

  <div class="col-md-6">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map" style='width: 100%; height: 400px;'></div>
  </div>

</div>
